<ul class="sidebar-menu">
    <li ng-if="normal" class="header">订单管理</li>
    <li ng-if="normal && nStore" ui-sref-active="active"><a ui-sref="main.orderCreate"><i
            class="fa fa-circle-o"></i><span>订单录入</span></a></li>
    <li ng-if="normal && nStore" ui-sref-active="active"><a ui-sref="main.orderList"><i
            class="fa fa-circle-o"></i><span>订单列表</span></a></li>
    <li ng-if="important" class="header">门店管理</li>
    <li ng-if="important && iStore" ui-sref-active="active"><a ui-sref="main.storeManager"><i class="fa fa-circle-o"></i><span>店铺管理</span></a>
    </li>
    <li ng-if="important && merChant" ui-sref-active="active"><a ui-sref="main.merChantManager"><i
            class="fa fa-circle-o"></i><span>运力管理</span></a></li>
</ul>