<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="confirmModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    {{tittle}}
                </h4>
            </div>
            <div class="modal-body">
                {{content}}
            </div>
            <div class="modal-footer">
                <button id="btn_cancel" class="btn btn-default" type="button">{{cancelText}}</button>
                <button id="btn_ok" class="btn btn-primary" type="button">{{okText}}</button>
            </div>
        </div>
    </div>
</div>