<div class="modal fade" id="commonModal" tabindex="-1" role="dialog"
     aria-labelledby="commonModalLabel">
    <div class="modal-dialog modal-dialog-wid-60" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="commonModalLabel">这是一个例子模态框</h4>
            </div>
            <div class="modal-body">
                这里填充内容
            </div>
        </div>
    </div>
</div>