<table id="orderAuditTable"
       data-toggle="table"
       data-cache="false"
       data-cardView="true"
       data-show-header="true"
       data-detail-view="false">
    <thead>
    <tr>
        <th data-field="flag" data-checkbox="true"></th>
        <!--<th data-field="flag"    data-align="center" >序号</th>-->
        <th data-field="sfOrderNo" data-align="center">顺丰订单号</th>
        <th data-field="receiveMobile" data-align="center">收件人手机</th>
        <th data-field="receiveAddress" data-align="center">收件人地址</th>
        <th data-field="pickupMobile" data-align="center">寄件人联系方式</th>
        <th data-field="shopOrderNo" data-align="center">商家订单号</th>
        <th data-field="machineNo" data-align="center">机号</th>
        <th data-field="createTime" data-align="center">下单时间</th>
        <th data-field="expectDatePeriod" data-align="center">期望送达时间</th>
        <th data-field="distance" data-align="center">实际配送距离</th>
        <th data-field="statusInfo" data-align="center">订单状态</th>
    </tr>
    </thead>
</table>