<table id="storeListTable"
       data-toggle="table"
       data-cache="false"
       data-cardView="true"
       data-show-header="true"
       data-detail-view="false">
    <thead>
    <tr>
        <th data-field="flag" data-checkbox="true"></th>
		<th data-field="number" data-align="center">序号</th>
        <th data-field="shopId" data-align="center">商家ID</th>
        <th data-field="parentShopCode" data-align="center">商家编码</th>
        <th data-field="shopName" data-align="center">店铺名称</th>
        <th data-field="linkman" data-align="center">联系人</th>
        <th data-field="linkmanPhone" data-align="center">联系电话</th>
        <th data-field="createTm" data-align="center">申请时间</th>
        <th data-field="auditType" data-align="center">状态</th>
        <th data-field="operation" data-align="center">操作</th>
    </tr>
    </thead>
</table>