<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">对账清单</h3>
            </div>
            <div class="billList">
                <div class="title">同城配送服务费对账清单</div>
                <div class="cont">
                   <div class="col-md-12 listDetail">
                    <div class="col-md-6">
                        <div><strong>城市名称：</strong>311</div>
                        <div><strong>客户名称：</strong>河北顺丰速运有限公司</div>
                        <div><strong>结算账号：</strong>G03110808SF</div>
                        <div><strong>客户联系人：</strong>王希</div>
                        <div><strong>客户联系电话：</strong>13987883678</div>
                    </div>
                    <div class="col-md-6">
                        <div>尊敬的（河北顺丰速运有限公司）您好！</div>
                        <div>感谢您使用我司的服务，以下是您20160910-20160930的电子账单，全额为：<strong class="tsred">3290.00</strong></div>
                        <div>您本期的最晚汇款日为：<strong class="tsblue">2016年10月10日</strong>，请勿错过您的期限。</div>
                        <div>本期应付全额为：<strong class="tsred"> 3290.00</strong></div>
                    </div>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table01">
                    <tr>
                        <th>序号</th>
                        <th>下单日期</th>
                        <th>派送日期</th>
                        <th>订单号码</th>
                        <th>城市名称</th>
                        <th>店铺名称</th>
                        <th>店铺编号</th>
                        <th>收费项目</th>
                        <th>全额</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>04-27</td>
                        <td>04-27</td>
                        <td>290908079899</td>
                        <td>211</td>
                        <td>网络科技-桥东点部</td>
                        <td>G8898979899</td>
                        <td>应收配送费</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>04-27</td>
                        <td>04-27</td>
                        <td>290908079899</td>
                        <td>211</td>
                        <td>网络科技-桥东点部</td>
                        <td>G8898979899</td>
                        <td>应收配送费</td>
                        <td>12</td>
                    </tr>
                </table>
                <div class="step-button btn-center-box">
                        <button type='button' class='btn btn-primary ' ng-disabled="loading">返回</button>
                        <button type='button' class='btn btn-primary ' ng-disabled="loading">确认账单</button>
                 </div>
            </div>

        </div>

    </div>
</div>

