<div class="row">


    <div id="address">
        <select id="provinceSelect" style="width: 120px;">
            <option></option>
        </select>

        <select id="citySelect" style="width: 120px;">
            <option></option>
        </select>

        <select id="storeSelect" style="width: 130px;">
            <option></option>
        </select>

    </div>
    <div class="widget-box">
        <div class="widget-content">
            <div id="mapContainer" ></div>
        </div>

    </div>


    <div class="widget-box">
        <div class="widget-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="site-stats-4">

                        <li class="bg_lh" >
                            <small>10分钟到店率</small>
                            <strong>{{ arrivalRate }}</strong><i>%</i>
                        </li>

                        <li class="bg_lh">
                            <small>40分钟送达率</small>
                            <strong>{{ backRate }}</strong><i>%</i>
                        </li>

                        <li class="bg_lh">
                            <small>当前配送员人数</small>
                            <strong>{{ atWorkEmpNum }}</strong>
                        </li>

                        <li class="bg_lh">
                            <small>妥投时效异常单</small>
                            <strong class="text-red">{{ excptionDeliveryInTime }}</strong><i>单</i>
                        </li>

                        <li class="bg_lh">
                            <small>平均订单时长</small>
                            <strong>{{ orderTimeAvg }}</strong><i>Min</i>
                        </li>

                        <li class="bg_lh">
                            <small>平均取货时长</small>
                            <strong>{{ pickupTimeAvg }}</strong><i>Min</i>
                        </li>

                        <li class="bg_lh">
                            <small>平均妥投时长</small>
                            <strong>{{ deliveryTimeAvg }}</strong><i>Min</i>
                        </li>

                        <li class="bg_lh">
                            <small>时效内妥投占比</small>
                            <strong>{{ deliveryInTimeRate }}</strong><i>%</i>
                        </li>


                    </ul>


                </div>

            </div>


        </div>

    </div>

    <div class="widget-box">
        <div class="widget-title">
            <div class="form-inline padding">

                <div class="form-group col-md-12 col-xs-12 col-lg-12 col-sm-12" >

                    <div class="col-md-5 col-xs-12 col-lg-7 col-sm-2"></div>

                    <div class="input-group ">
                        <span class="input-group-addon">配送员:</span>
                        <input type="text" class="form-control" ng-model="empName">
                    </div>

                    <div class="btn-group  pull-right" role="group">
                        <button  type="button" class="btn btn-danger span4 " ng-click="doSearch()" ng-disabled="empName.length>0?false:true">搜索</button>

                        <button type="button" class="btn btn-primary " ng-click="doDismiss()">取消</button>

                    </div>

                </div>

            </div>

        </div>
        <div class="widget-content">
            <div class="padding">
                <form>
                    <table  id="storeOrderTable"
                            data-toggle="table"
                            data-cache="false"
                            data-cardView="true"
                            data-show-header="true"

                    >
                        <thead>
                        <tr>
                            <th data-field="cityName"    data-align="center" >城市</th>
                            <th data-field="storeName"  data-align="center"  >门店</th>
                            <th data-field="name" data-align="center"  >配送员</th>
                            <th data-field="id" data-align="center"  >唯一识别标志</th>
                            <th data-field="contact" data-align="center"  >联系方式</th>
                            <th data-field="type" data-align="center"  >类型</th>
                            <th data-field="status" data-align="center"  >状态</th>
                            <th data-field="orders" data-align="center"  >任务量</th>
                            <th data-field="operation" data-align="center"  >详情</th>

                        </tr>

                        </thead>


                    </table>
                </form>

            </div>

        </div>

    </div>




</div>

<!-- 配送员详情-->
<div class="modal fade" id="empKpiAndOrderModal" tabindex="-1" role="dialog" aria-labelledby="empKpiAndOrderModalLabel" >
    <div class="modal-dialog modal-dialog-wid-85" role="document" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="empKpiAndOrderModalLabel">配送员详情</h4>

                <input type="hidden" name="modelEmpName" ng-model="modelEmpName" >
                <input type="hidden" name="resourceId" ng-model="resourceId">
                <input type="hidden" name="empContact" ng-model="empContact" >
                <input type="hidden" name="empOnTheWayOrder" ng-model="empOnTheWayOrder">
                <input type="hidden" name="empCompletedOrder" ng-model="empCompletedOrder">
            </div>
            <div class="modal-body body-gray">
                <div class="padding">
                    <ul class="site-stats-4">

                        <li class="bg_lh" >
                            <small>10分钟到店率</small>
                            <strong>{{ empArrivalRate }}</strong><i>%</i>

                        </li>
                        <li class="bg_lh">
                            <small>40分钟送达率</small>
                            <strong>{{ empBackRate }}</strong><i>%</i>
                        </li>

                        <li class="bg_lh">
                            <small>任务量</small>
                            <strong >{{ empOnTheWayOrder }}</strong><i>/{{empCompletedOrder}}</i>
                        </li>

                        <li class="bg_lh">
                            <small>时效内妥投占比</small>
                            <strong>{{ empDeliveryInTimeRate }}</strong><i>%</i>
                        </li>


                    </ul>


                    <form >
                        <table  id="deliveryEmpOrderListTable"
                                data-toggle="table"
                                data-cache="false"
                                data-cardView="true"
                                data-show-header="true"
                        >
                            <thead>
                            <tr>
                                <th data-field="name"  data-align="center">配送员</th>
                                <th data-field="contact"  data-align="center">联系方式</th>
                                <th data-field="orderNo" data-align="center">订单号码</th>
                                <th data-field="endTime" data-align="center">完成时间</th>
                                <th data-field="predictEndTime" data-align="center">预计时间</th>
                                <th data-field="status" data-align="center">状态</th>
                            </tr>

                            </thead>


                        </table>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
