<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">店铺列表</h3>
        <button id="add" class="btn btn-info pull-right" type="submit" ng-disabled="loading" ng-click="add()">新建店铺</button>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
         <!--dataTable-->
        <ocs-data-table table-obj="storeListTable"></ocs-data-table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-left">
              <li><label class="col-sm-12 control-label">第{{currentPage}}页，共{{pageCount}}页，店铺数：{{totalCount}}</label></li>
          </ul>
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="" ng-click="first()">第一页</a></li>
            <li><a href="" ng-click="previous()">上一页</a></li>
            <li><a href="" ng-click="next()">下一页</a></li>
            <li><a href="" ng-click="last()">最后一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>